ci:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\WebApiExtension:
            base_url: http://localhost:8000/app_test.php/
        Codifico\ParameterBagExtension\ServiceContainer\ParameterBagExtension: ~


default:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\WebApiExtension:
            base_url: http://nginx:8000/app_test.php/
        Codifico\ParameterBagExtension\ServiceContainer\ParameterBagExtension: ~

    suites:
        api:
            paths:
                - features/api
            contexts:
                - Housible\Behat\Context\FeatureContext:
                    personManager: "@person.manager"
                - Housible\Behat\Context\WebContext: ~
                - Housible\Behat\Context\MatcherContext: ~
            filters:
                tags: ~@api

